<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zaktualizuj dane</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <style>
        .body {
            display: flex;
            flex-direction: column;
            margin-top: 32px;
            align-items: center;
        }
        h2, p, .submit-button {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Zaktualizuj swoje dane</h2>
    <div class="container2">
        <p th:if="${message}" style="color: red" th:text="${message}"></p>
    </div>
    <div class="body">
        <form class="login-form" th:action="@{/updateUserData}" th:object="${user}" method="post">
            <div class="mb-3">
                <input type="text" th:field="*{firstName}" class="form-control" placeholder="Imię" required>
            </div>
            <div class="mb-3">
                <input type="text" th:field="*{lastName}" class="form-control" placeholder="Nazwisko" required>
            </div>
            <div class="submit-button">
                <button class="btn btn-primary" type="submit">Zaktualizuj dane</button>
            </div>
        </form>
        </br>
        <form class="login-form" th:action="@{/updateUserPassword}" method="post">
            <div class="mb-3">
                <label for="password" class="form-label">Zmień hasło</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="submit-button">
                <button class="btn btn-primary" type="submit">Zmień hasło</button>
            </div>
        </form>
        </br>
        <a th:href="@{/}">Powrót do strony głównej</a></br>
    </div>
</div>
</body>
</html>